.service {
  background-color: white;
  padding: 20px;
  max-width: 25vw;
  text-align: center;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin-bottom: 6vh;
}

.service:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.service__image {
  width: 90%;
  height: 200px;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .service {
    max-width: 80vw;
  }
  .service__image {
    width: 100%;
  }
}
